@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

/* UTILITIES */

* {
  font-family: 'mulish', sans-serif;
}

.details {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color:#7D7987;
}

.cta {
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  color: white;
  background-color: #458FF6;
  text-decoration: none;
  padding: 15px 40px;
  border: 2px solid #458FF6;
  border-radius: 50px;
  margin-top: 45px;
}

.cta:hover {
  color: #458FF6;
  background-color: white;
}

.line {
  margin-bottom: 15px;
}

/* HERO SECTION */

.hero-section {
  margin-top: 80px;
  /* position: relative; */
}

.hero-banner img {
  width: 100%;
}

.hero-title {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 25px;
}

.hero-details {
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
  color:#7D7987;
}

.hero-element {
  position: absolute;
  left: 0;
}

/* SERVICE SECTION */

.service-section {
  position: relative;
}

.service-element {
  position: absolute;
  z-index: 1;
  width: 50%;
}

.service-head {
  margin-bottom: 80px;
}

.service-title-main {
  font-size: 36px;
  line-height: 56px;
  margin-top: 150px;
}

.service-body {
  text-align: center;
  position: relative;
  z-index: 2;
}

.service-title {
  font-size: 25px;
  line-height: 55px;
}

.service {
  text-align: center;
  background-color: white;
  width: 350px;
  height: 350px;
  padding: 50px 20px;
  border-radius: 10px;
}

.service-image {
  height: 100px;
}

.service-title {
  margin: 10px 0;
}

.service-body-element {
  position: absolute;
  right: 0;
  top: 50%;
}

/* CTA BANNER SECTION */

.cta-banner {
  margin-top: 150px;
  position: relative;
}

.cta-banner-title {
  font-size: 36px;
  line-height: 56px;
}

.cta-banner-image {
  width: 80%;
}

.banner {
  margin-bottom: 150px;
}

.cta-banner-element {
  position: absolute;
  top: 50%;
  right: 0;
}

/* REVIEW SECTION */

.slide {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2);
  border-radius: 10px;
  position: relative;
}

.review-head {
  margin-bottom: 40px;
}

.quote {
  color: white;
}

.quote::before {
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 32px;
  color: white;
  margin-right: 10px;
}

.review-image {
  border-radius: 10px;
}

.review-element-top {
  position: absolute;
  right: 0;
}

.review-element-bottom {
  position: absolute;
  bottom: 0;
}

/* ARTICLE SECTION */

.article-title {
  font-size: 36px;
  line-height: 56px;
  margin: 150px 0 80px;
}

.read-more {
  text-decoration: none;
  color: #458FF6;
}

.read-more::after {
  content: "\f061";
  font-family: "FontAwesome";
  color: #458FF6;
  margin-left: 10px;
}

.cards {
  position: relative;
}

.cards-element-dotted {
  position: absolute;
  left: -50px;
}

.container-fluid {
  position: relative;
}

.cards-element-curved {
  width: 30rem;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* FOOTER SECTION */

footer {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2);
  margin-top: 150px;
  padding: 100px 0;
  position: relative;
}

.footer-element-top {
  position: absolute;
  right: 0;
}

.footer-element-bottom {
  position: absolute;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: white;
  line-height: 40px;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 576px) {
  .service-element {
    display: none;
  }
}

@media only screen and (max-width: 480px){
  .testimonial{
      margin: 0 10px;
  }
  .testimonial .pic{
      float: none;
      width: 50%;
      margin: 0 auto;
  }
  .owl-theme .owl-controls{
      top: -30px;
      right: 0;
  }
}